# SPDX-FileCopyrightText: 2023 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Renew certificates acquired via Carbonio Certbot
Documentation=https://eff-certbot.readthedocs.io/en/stable/

[Service]
Type=oneshot
User=zextras
ExecStart=/opt/zextras/common/bin/certbot -q renew
PrivateTmp=true
